<div class="courses">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Courses</mat-card-title>
      <mat-card-subtitle>all the courses available</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let course of courses" (click)="onCourseSelect(course)">
          <h3 mat-line>{{course.id + 1 }}  : {{course.title}}</h3>
          <p mat-line>{{course.description}}</p>
          <button mat-icon-button color="warn" (click)="onCourseDelete(course);$event.stopImmediatePropagation()">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Courses Action</mat-card-title>
      <mat-card-subtitle>lets manage courses</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form #form='ngForm' (submit)="onCourseAddUpdate(form.value)">
        <input [(ngModel)]="selectedCourse.id" type="hidden" name="id">
        <mat-card-content *ngIf="selectedCourse; else elseBlock">
          <mat-form-field class="full-width">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" [(ngModel)]="selectedCourse.title" type="text" name="title" required>
          </mat-form-field>
          <br/>
          <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" [(ngModel)]="selectedCourse.description" type="text"
                   name="description">
          </mat-form-field>
          <h4>{{selectedCourse.percentageComplete}} % completed</h4>
          <mat-slider min="0" max="100" class="full-width"  thumbLabel [(ngModel)]="selectedCourse.percentageComplete" name="percentageComplete"></mat-slider>
          <mat-checkbox class="example-margin"
                        name="favourite"
                        [(ngModel)]="selectedCourse.favourite"> Favourite Course ?</mat-checkbox>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [disabled]="form.invalid" color="primary"
                  type="submit">{{(form.value.id || form.value.id===0) ? "Update" : "Submit"}}</button>
          <button mat-raised-button color="warn" type="button" (click)="onCourseRestart()">Reset</button>
        </mat-card-actions>
      </form>
      <ng-template #elseBlock>
        Select a lesson noob
      </ng-template>

      <pre>{{form.value | json}}</pre>
      <pre>{{form.valid | json}}</pre>
    </mat-card-content>
  </mat-card>
</div>

<div class="debug">
  <mat-card>
    <mat-card-header>
      <mat-card-title>DEBUG</mat-card-title>
      <mat-card-subtitle>debug this system</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="courses; else elseBlock">
      {{courses | json}}
    </mat-card-content>
    <ng-template #elseBlock>
      Select a lesson noob
    </ng-template>
    <mat-card-footer>
      build lakhe 0.0.0
    </mat-card-footer>
  </mat-card>
</div>



