.courses{
  display: flex;
}

.courses mat-card {
  margin:10px;
  width: 45%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.debug{
  margin:20px;
  border: 1px solid black;
}
