.header{
  color: aliceblue;
  background-color: #5858f1;
  display: grid;
  /*display: flex;*/
}
.header li{
  text-decoration: none;
  list-style: none;
  width: 200px;

}
.header li a{
  color: aliceblue;
  text-decoration: none;
}

mat-sidenav-container{
  height: 90%;
}
