<mat-card>
  <mat-card-header>
    <mat-card-title>Courses Action</mat-card-title>
    <mat-card-subtitle>lets manage courses</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #form='ngForm' (submit)="update.emit(form.value)">
      <input [(ngModel)]="selectedCourse.id" type="hidden" name="id">
      <mat-card-content *ngIf="selectedCourse; else elseBlock">
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" [(ngModel)]="selectedCourse.title" type="text" name="title" required>
        </mat-form-field>
        <br/>
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" [(ngModel)]="selectedCourse.description" type="text" name="description">
        </mat-form-field>
        <h4>{{selectedCourse.percentageComplete}} % completed</h4>
        <mat-slider min="0" max="100" class="full-width"  thumbLabel [(ngModel)]="selectedCourse.percentageComplete" name="percentageComplete"></mat-slider>
        <mat-checkbox class="example-margin"
                      name="favourite"
                      [(ngModel)]="selectedCourse.favourite"
>
          Favourite Course ?</mat-checkbox>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [disabled]="form.invalid" color="primary"
                type="submit">{{(form.value.id || form.value.id===0) ? "Update" : "Submit"}}</button>
        <button mat-raised-button color="warn" type="button" (click)="reset.emit()">Reset</button>
      </mat-card-actions>
    </form>
    <ng-template #elseBlock>
      Select a lesson noob
    </ng-template>

<!--    <pre>{{form.value | json}}</pre>-->
  </mat-card-content>
</mat-card>
